server {
    listen <%= http_port %> default_server;
    listen [::]:<%= http_port %> default_server ipv6only=on;

    root /var/www<%= root_folder %>;
    index index.php index.html index.htm;

    server_name localhost;
    client_max_body_size 128m;

    <%= rewrites %>

    location ~ \.php$ {
        try_files $uri $uri/ =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index index.php;
        include fastcgi_params;
    }
}
